/* Basic Style */
body {
  background: url('../img/backgrd.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Lato, sans-serif;
}
.wrapper{
  width: 50%;
  margin: 0 25%;
  text-align: center;
  display: block;
  background: lightblue;
}
h1 {
  font-size: 2em;
  margin:-1% 0 1% 5%;
  color:#fff;
}

p {
  font-family: 'Oxygen', sans-serif;
  font-size: 1em;
  margin:-1% 0 1% 5%;
  color:blue;
}
h1 span {
  font-family:'Libre Baskerville', serif;
  font-size: 2em;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  text-align: center;
}
li, h3 {
  text-align: center;
  font-size: 1em;
  clear:both;
  list-style:none;
}
input, button {
  outline: none;
}
button {
  background: none;
  border: 0px;
  color: blue;
  font-size: 20px;
  margin: 10px 0 0;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
button:hover {
  color: #333;
}
 /*Heading*/

h3,
label[for='new-task'] {
  text-align: center;
  color: blue;
  font-weight: 700;
  font-size: 20px;
  padding: 30px 0 10px;
  text-transform: uppercase;
}
input[type="text"] {
  font-size: 18px;
  line-height: 18px;
  height: 18px;
  padding: 5px;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
  text-align: center;
}
input[type="text"]:focus {
  color: #ff1493;
  text-align: center;
}

/* New Task*/
label[for='new-task'] {
  display: block;
}
input#new-task {
  text-align: center;
  width: 300px;

}
p > button:hover {
  color: #0FC57C;
}

/* Task list */
li {
  overflow: hidden;
  padding: 20px 0;
}
li > input[type="checkbox"] {
  margin: 10px;
  position: relative;
}
li > label {
  font-size: 18px;
  line-height: 40px;
  width: 237px;
  padding: 0 0 0 11px;
}
li >  input[type="text"] {
  width: 226px;
}
li > .delete:hover {
  color: #CF2323;
}

#incomplete-tasks{
  color: green;
  border-top: 2px solid #63b8ff;
}

/* Completed */
#completed-tasks{
  border-top: 2px solid #63b8ff
}
#completed-tasks label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
ul li input[type=text] {
  display:none;
}

ul li.editMode input[type=text] {
  display:block;
  margin: 23px;
}

ul li.editMode label {
  display:none;
}